{%extends ../../../common/views/layout.html%}

{%block style%}
    {% set user = usuario %}
    <link rel="stylesheet" href="terrenos/terreno/assets/terreno.css">
{%end%}

{%block content%}
    {% if 'terreno_insert' in privileges or 'terreno_update' in privileges %}
        {% include form.html %}
    {% end %}

    <div class="header "><h2 class="title-rg-own">Terrenos</h2></div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
            {% if 'terreno_insert' in privileges %}
                <button id="new" type="button" class="btn bg-indigo waves-effect white-own">Nuevo <i class="material-icons"></i></button>
            {% end %}
            </div>
            {% if 'terreno_query' in privileges %}
        </div>

        <div class="row">
            <div class="body table-responsive">
                <table id="data_table" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="order_by_th accion" data-name="name">Nro</th>
                            <th class="order_by_th accion" data-name="name">Urbanizacion</th>
                            <th class="order_by_th accion" data-name="name">Manzano</th>
                            <th class="order_by_th accion" data-name="name">Ancho</th>
                            <th class="order_by_th accion" data-name="description">Largo</th>
                            <th class="order_by_th accion" data-name="description">Superficie</th>
                            <th class="actions_header">Estado</th>
                            <th class="actions_header">Acciones</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
        {% else %}
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% end %}
    </div>
{%end%}

{% block script%}
    <script src="resources/js/validations.js"></script>
    <script src="resources/js/functions.js"></script>
    <script src="terrenos/terreno/assets/terreno.js"></script>
<script>
        $(document).ready(function () {

            var data = [];
            {% set cont = 0 %}
            {% for c in objects %}
                data.push( [
                    '{{ c.id }}',
                    '{{ c.manzano.urbanizacion.direccion }}',
                    '{{ c.manzano.numero }}',
                     '{{ c.ancho }}',
                     '{{ c.largo }}',
                     '{{ c.superficie }}',
                    '<input id="{{ c.id }}" onClick="event.preventDefault();eliminar(this)" data-id="{{ c.id }}" type="checkbox" class="chk-col-indigo delete" {% if c.enabled %} {{"checked"}} {% end %} /><label for="{{c.id}}"></label>' + ' ' + '{% if c.enabled %} Habilitado {% else %} Deshabilitado {% end %}',
                    '<button id="edit" onClick="editar(this)" data-json="{{ c.id }}" type="button" class="btn bg-indigo waves-effect waves-light white-own edit" title="Editar"><i class="material-icons">create</i></button>'

                ]);
            {% set cont = cont + 1 %}
            {% end %}
            cargar_tabla(data)
        })


</script>
{%end%}