<div id="form" class="modal fade" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="user_title" class="modal-title">Ingreso Urbanizacion</h3>
                <h4 id="user_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div  id="user_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Urbanizacion ID</label>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Direccion</label>
                                <div class="form-line">
                                    <input id="direccion" name="Direccion" type="text" class="form-control txta-own" required >
                                </div>
                        </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Numero Terrenos</label>
                                <div class="form-line">
                                    <input id="numeroTerrenos" name="Numero Terrenos" type="text" class="form-control txta-own" required >
                                </div>
                        </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Numero Casas</label>
                                <div class="form-line">
                                    <input id="numeroCasas" name="Numero Casas" type="text" class="form-control txta-own" required>
                                </div>
                        </div>

                    </div>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Numero Manzanos</label>
                                <div class="form-line">
                                    <input id="numeroManzanos" name="Numero Manzanos" type="number" class="form-control txta-own" required>
                                </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <button id="new_manzano" type="button" class="btn bg-indigo waves-effect white-own" title="Agregar">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                       </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                       <div class="col-sm-4">
                            <label class="form-label">Manzanos</label>
                       </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-2">
                            <label class="form-label">Numero</label>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Calle 1</label>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Calle 2</label>
                        </div>

                    </div>
                    <div class="row clearfix">

                       <div class="col-sm-9">
                             <div id="manzano" class="box-body">
                                <div id="manzano_div" class="clearfix">

                                </div>
                             </div>
                       </div>
                    </div>


                     <div class="modal-footer">
                        {% if 'urbanizacion_insert' in privileges %}
                            <button id="insert" type="button" class="btn color_boton waves-effect white-own" >Guardar <i class="material-icons white-own">save</i></button>
                        {% end %}
                        {% if 'urbanizacion_update' in privileges %}
                            <button id="update" type="button" class="btn color_boton waves-effect white-own" >Modificar <i class="material-icons white-own">refresh</i></button>
                        {% end %}
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
