.green-own{
    background-color: #95c11f;
}
.titulo-verde-own{
    color: #044f17 !important;
}
.bg-page-own{
    background-color: #006227;
}
.blanco{
    color: white !important;
}
.title-rg-own{
    font-weight: bolder !important;
    color: #044f17 !important;
}

.color_boton{
    background-color: #393939 !important;
}

.button-color{
    /*background-color: #0B1D50;*/
    background-color: #424A5A;
}


.form-group .form-line::after {
    border-bottom: 2px solid #006227;
}