<div id="form" class="modal fade" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="user_title" class="modal-title">Registrar Credito</h3>
                <h4 id="user_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div  id="user_form_body" class="box-body">
                    <div id="id_div">
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <label class="form-label">Nro</label>
                                <div class="form-line">
                                    {% module xsrf_form_html() %}
                                    <input id="id" type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label>Estado</label>
                             <select id="fkestadocredito" class="form-control" required>
                                {% for estadocred in estadocreditos %}
                                    <option value="{{estadocred.id}}">{{estadocred.nombre}}</option>
                                {% end %}
                             </select>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label>Entidad</label>
                             <select id="fkentidad" class="form-control" required>
                                {% for enti in entidades %}
                                    <option value="{{enti.id}}">{{enti.nombre}}</option>
                                {% end %}
                             </select>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label>Monto</label>
                                <div class="form-line">
                                    <input id="capital" name="Capital" type="number" class="form-control txta-own " >
                                </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <label>Numero de cuotas</label>
                                <div class="form-line">
                                    <input id="numeroCuotas" name="Numero de cuotas" type="number" class="form-control txta-own " >
                                </div>
                        </div>

                    </div>

                    <div class="row clearfix">
                       <div class="col-sm-4">
                            <label class="form-label">Cuotas</label>
                       </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-2">
                            <label class="form-label">Numero</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-label">Monto</label>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Fecha venc.</label>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label">Estado</label>
                        </div>
                    </div>

                    <div class="row clearfix">
                       <div class="col-sm-9">
                             <div id="cuotas" class="box-body">
                                <div id="cuota_div" class="clearfix">
                                </div>
                             </div>
                       </div>
                    </div>



                     <div class="modal-footer">
                        {% if 'credito_insert' in privileges %}
                            <button id="insert" type="button" class="btn color_boton waves-effect white-own" >Guardar <i class="material-icons white-own">save</i></button>
                        {% end %}
                        {% if 'credito_update' in privileges %}
                            <button id="update" type="button" class="btn color_boton waves-effect white-own" >Modificar <i class="material-icons white-own">refresh</i></button>
                        {% end %}
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
