<div id="form" class="modal fade" tabindex="-1" role="dialog"  data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="user_title" class="modal-title">Ingreso Manzano</h3>
                <h4 id="user_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div  id="user_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Manzano ID</label>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <label>Urbanizacion</label>
                             <select id="fkurbanizacion" class="form-control" required>
                                {% for urb in urbanizaciones %}
                                    <option value="{{urb.id}}">{{urb.direccion}}</option>
                                {% end %}
                             </select>
                        </div>
                    </div>
                    </br>

                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Numero</label>
                                <div class="form-line">
                                    <input id="numero" name="Numero" type="text" class="form-control txta-own" required >
                                </div>
                        </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Calle 1</label>
                                <div class="form-line">
                                    <input id="calle1" name="Calle 1" type="text" class="form-control txta-own" required >
                                </div>
                        </div>

                    </div>
                    </br>
                    <div class="row clearfix">
                        <div class="col-sm-5">
                            <label>Calle 2</label>
                                <div class="form-line">
                                    <input id="calle2" name="Calle 2" type="text" class="form-control txta-own" required>
                                </div>
                        </div>

                    </div>
                    </br>

                     <div class="modal-footer">
                        {% if 'manzano_insert' in privileges %}
                            <button id="insert" type="button" class="btn color_boton waves-effect white-own" >Guardar <i class="material-icons white-own">save</i></button>
                        {% end %}
                        {% if 'manzano_update' in privileges %}
                            <button id="update" type="button" class="btn color_boton waves-effect white-own" >Modificar <i class="material-icons white-own">refresh</i></button>
                        {% end %}
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
